body {
	height: auto;
}
.md-outline.md-input-invalid > input {
    padding: 40px 17px 20px 17px !important;
    border-width: 1px !important;
}

.md-toast-content {
	z-index: 99999;
}

@font-face {
	font-family: Raleway;
	src: url("../fontes/Raleway-Light.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fontes/MaterialIcons-Regular.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}